{% extends "base.html" %}

{% block title %}
<div class="container-fluid">
    <img src="{{logo}}"><br/>
</div>
<br>
<div class="container-fluid">
    <h1><span class="badge badge-dark">System info : {{system_info}}</span></h1>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h2>Available Endpoints</h2>
        <ul>
            <li><a class="badge badge-info" href='/os'><h4>Return Json formatted System infos via /os</h4></a></li>
            <li><a class="badge badge-info" href='/greets'><h4>/greets</h4></a></li>
            <li><a class="badge badge-info" href='/hypothenuse/5/3'><h4>/hypothenuse/5/3</h4></a></li>
            <li><a class="badge badge-info" href='/mongojson'><h4>/mongojson</h4></a></li>
            <li><a class="badge badge-info" href='/mongohtml'><h4>/mongohtml</h4></a></li>
            <li><a class="badge badge-info" href='/vault'><h4>/vault</h4></a></li>
        </ul>
    </div>
{% endblock %}