{% extends "base.html" %}

{% block title %}
<ul><li><h1>The Power of <img src="{{logo}}" width="15%"> with <img src="{{mongo}}" width="15%"></h1></li></ul>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h2 class="badge-dark"> There are {{nb_movies}} Movies to display</h2>

        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Year</th>
                <th scope="col">Resume</th>
                <th scope="col">Poster</th>
            </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
            <tr>
                <th scope="row">{{movie.get_title()}}</th>
                <td>{{movie.get_type()}}</td>
                <td>{{movie.get_year()}}</td>
                <td>{{movie.get_plot()}}</td>
                <td><img src="{{movie.get_poster()}}" width="25%"></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}